@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --green: rgb(11, 172, 91);
    --yelloy: rgb(235, 219, 1);
    --gray: rgb(138, 138, 138);
    --black: #000;
    --red: rgb(204, 52, 52);
}

body {
    font-family: "Montserrat", serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Селекторы для всех типов кнопок */
button {
    font-family: "Montserrat", serif;
    font-weight: 500;
    width: 50vw;
    min-width: 350px;
    height: 150px;
    border: none;
    border-radius: 10px;
    
    font-size: 30px;
    margin-bottom: 10px;
}
button:active {
    transform: scale(1.03);
}
#next-audio-info {
    margin-bottom: 25px;
}
#control-left {
    width: 100px;
    height: 100px;
}
#control-right {
    width: 100px;
    height: 100px;
}


p{
    margin: 0;
    font-size: 20px;
}

.container {
    margin-bottom: 75px;
}

ul {
  list-style-type: none;
}

#now-time {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
}

.depend {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.departures-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
}

/* Селекторы цветовой градации */
.gray {
    color: var(--gray);
}
.green {
    color: var(--green);
    font-weight: 800;
}
.yelloy {
    color: var(--yelloy);
    font-weight: 800;
}
.black {
    color: var(--black);
    font-weight: 800;
    font-size: 22px;
}
.red {
    color: var(--red);
    font-weight: 800;
}

/* Специальные теги свойств */
.underlined {
    text-decoration: underline;
}



