@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button{
    font-family: "Montserrat", serif;
    font-weight: 500;
    width: 50vw;
    min-width: 350px;
    height: 150px;
    border: none;
    border-radius: 10px;
    
    font-size: 30px;
    margin-bottom: 10px;
}

button:active{
    transform: scale(1.03);
}

#next-audio-info{
    margin-bottom: 25px;
}

#control-left{
    width: 100px;
    height: 100px;
}

#control-right{
    width: 100px;
    height: 100px;
}

.container{
    margin-bottom: 75px;
}

.gray{
    color: rgb(138, 138, 138);
}
